* {
    margin: 0;
    padding: 0;
}
body {
    width:100%;
    height: 100%;
    font-family: "FuturaW01-Medium","Trebuchet MS",Arial,sans-serif,sans-serif;

}


#menu {
    margin-top: -6px;
    background: #dd013e;
    font-size: 1.3em;
   

}
ul {
    width: 100%;
    list-style: none;


}
ul li {
    position: relative; 

}
 ul li a { 
    color: white;
     display: block;
    font-family: Arial, Helvetica, sans-serif;   
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    height: 33px
 }


ul li a:hover { 
        background: #000f39ed; 
}
    


#logo img {
    position:static;
    width:  200px;
    height: 100px;
    left: 50%;
    max-width: 200px;
    margin-left: 20px;
}
#container{
    min-height:100%;
    position:absolute;
 }


.interior {
    float: left;
    padding-top: 138px;
    padding-left: 25px;
    width:300px;
    height: 400px;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid black;


}
.price {
    font-size: 2.0em;
}
button {
    background-color: #2c2c2c;
    padding: 6px, 12px;
    height: 45px;
    width: 200px;
    letter-spacing: 1px;
    color: white;
    font-family: "FuturaW01-Medium","Trebuchet MS",Arial,sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
        margin-bottom: 20px;

}

#main {
    /* display: flex; */
    /* flex-wrap: flex; */
    /* flex-direction:row; */
    /* justify-content: space-between; */
    overflow: auto;
    padding-bottom:100px;
    padding-top: 125px;
    /* align-items: center; */
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;   /* Height of the footer */
    background:#000f39;
 }
 #footerList {
     background-color: #000f39 ;

 }

 #header {

    position:static;
    top:0;
    width:100%;
    height:100px;   /* Height of the footer */
    background-color: white;
 }
#interior {
    max-width: 300px;
}

@media only screen and (min-width : 660px) {
    ul  { 
        display: flex;
        justify-content: space-around;
        }
    ul {
        width: 70%;
    margin: auto;
    }
    #menu {
       
        text-align: center;
    }
    .interior {
        padding-top: 0px;

    }
    #header {
        position: fixed;
        z-index:1;
        top: 0;
        left: 0;
    }
    #main {
        padding-top: 145px;

    }
    .interior {
        margin-bottom: 26px;
    }
   
}